@import url("./assets//fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-tektur;
}

@layer components {
  .header-link {
    @apply text-xl font-normal text-white hover:text-goldenYellow hover:underline hover:underline-offset-4 hoverEffect;
  }
  .hoverEffect {
    @apply duration-200 ease-in-out;
  }
}
.home-bg {
  background-image: url("./assets/images/headbg.png");
  background-size: cover;
  background-position: top;
  width: 100%;
  aspect-ratio: 1122 / 611;
  background-repeat: no-repeat;
  height: 611px;
}
.background {
  position: relative; /* ichida absolute elementga konteyner bo‘lishi uchun */
  background-image: url("./assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -1014px;
  min-height: 1500px;
}
.reviews {
  position: relative; /* ichida absolute elementga konteyner bo‘lishi uchun */
  background-image: url("./assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -1634px;
  min-height: 300px;
}

/* .header-link.active{
  @apply underline underline-offset-4 text-goldenYellow} */
  .swiper-pagination-bullet {
    opacity: 1 !important;
    transition: all 0.3s ease !important;
  }
  .swiper-pagination-bullet-active {
    background: #F0D625 !important;
  }