@import url("./assets//fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-tektur;
}

@layer components {
  .header-link {
    @apply text-xl font-normal text-white hover:text-goldenYellow hover:underline hover:underline-offset-4 hoverEffect;
  }
  .hoverEffect {
    @apply duration-200 ease-in-out;
  }
}
header {
  position: relative;
  z-index: 1000;
}

footer {
  position: relative;
  z-index: 1000;
}
/* .header-link.active{
  @apply underline underline-offset-4 text-goldenYellow} */
  .swiper-pagination-bullet {
    opacity: 1 !important;
    transition: all 0.3s ease !important;
  }
  .swiper-pagination-bullet-active {
    background: #F0D625 !important;
  }
  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  @apply bg-transparent;
  @apply transition-[background-color] duration-[5000s] delay-0 ease-in-out;
}